<%= link_to "New Category", :action => "new" %>
<hr />
<ul>
	<% @cates.each do |cate| %>
		<li><%= link_to cate.name, cate %> |
			<%= link_to "edit", edit_category_path(:id => cate.id) %> | 
			<%= link_to "delete", category_path(cate), data: {:confirm => "Are you sure you want to delete this category?"}, :method => :delete %>
		</li>
	<% end %>
</ul>

